{% extends "base.html" %}

<!-- 填充 content -->
{% block content %}

<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">{{ weibo.author.nickname }}</h4>
  <hr />
  <p class="mb-0">
    {{ weibo.content | replace('\n', '<br>') | safe }}
  </p>
  <hr />

  <div class="row col-12">
    {% if weibo.uid == session.get('uid') %}
    <a class="text-info" href="/weibo/edit?wid={{ weibo.id }}">修改微博</a>
    &nbsp;&nbsp;&nbsp;
    <a class="text-danger" href="/weibo/delete?wid={{ weibo.id }}">删除微博</a>
    &nbsp;&nbsp;&nbsp;
    {% endif %}
    <span class="text-secondary">{{ weibo.created }}</span>
  </div>
</div>

{% endblock %}